*{
    box-sizing: border-box;
}

.loader2 {
    font-size: 19px;
    margin: 5em auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load2 1.3s infinite linear;
    animation: load2 1.3s infinite linear;
}

.spinner{
    align-items: center;
    justify-content: center;
    height: 30vh;
}

@-webkit-keyframes load2 {

    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em lightgreen, 2em -2em 0 0em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 0em lightgreen;
    }

    12.5% {
        box-shadow: 0em -3em 0em 0em lightgreen, 2em -2em 0 0.2em lightgreen, 3em 0em 0 0em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    25% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 0em lightgreen, 3em 0em 0 0.2em lightgreen, 2em 2em 0 0em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    37.5% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 0em lightgreen, 2em 2em 0 0.2em lightgreen, 0em 3em 0 0em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    50% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 0em lightgreen, 0em 3em 0 0.2em lightgreen, -2em 2em 0 0em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    62.5% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 0em lightgreen, -2em 2em 0 0.2em lightgreen, -3em 0em 0 0em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    75% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 0em lightgreen, -3em 0em 0 0.2em lightgreen, -2em -2em 0 0em lightgreen;
    }

    87.5% {
        box-shadow: 0em -3em 0em 0em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 0em lightgreen, -3em 0em 0 0em lightgreen, -2em -2em 0 0.2em lightgreen;
    }
}

@keyframes load2 {

    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em lightgreen, 2em -2em 0 0em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 0em lightgreen;
    }

    12.5% {
        box-shadow: 0em -3em 0em 0em lightgreen, 2em -2em 0 0.2em lightgreen, 3em 0em 0 0em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    25% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 0em lightgreen, 3em 0em 0 0.2em lightgreen, 2em 2em 0 0em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    37.5% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 0em lightgreen, 2em 2em 0 0.2em lightgreen, 0em 3em 0 0em lightgreen, -2em 2em 0 -0.5em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    50% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 0em lightgreen, 0em 3em 0 0.2em lightgreen, -2em 2em 0 0em lightgreen, -3em 0em 0 -0.5em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    62.5% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 0em lightgreen, -2em 2em 0 0.2em lightgreen, -3em 0em 0 0em lightgreen, -2em -2em 0 -0.5em lightgreen;
    }

    75% {
        box-shadow: 0em -3em 0em -0.5em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 0em lightgreen, -3em 0em 0 0.2em lightgreen, -2em -2em 0 0em lightgreen;
    }

    87.5% {
        box-shadow: 0em -3em 0em 0em lightgreen, 2em -2em 0 -0.5em lightgreen, 3em 0em 0 -0.5em lightgreen, 2em 2em 0 -0.5em lightgreen, 0em 3em 0 -0.5em lightgreen, -2em 2em 0 0em lightgreen, -3em 0em 0 0em lightgreen, -2em -2em 0 0.2em lightgreen;
    }
}


.mt{
    margin-top: 50px;
}